@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --primary: #F59E0B;
  --secondary: #FBBF24;
  --hovery: #FFFBEB;
}


.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  background-color: var(--primary);
  padding: 1rem;
}

.title > a {
  color: white;
  text-decoration: none;
}

.title:hover {
  color: black;
}

.app__body {
  display: flex;
  flex-direction: row;
}

.app__body :first-child {
  flex: 1;
}

.app__body :last-child {
  flex: 2;
}

@media (min-width: 320px) and (max-width: 480px) {
}

.sidebar {
  border: 2px solid var(--secondary);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar__add {
  text-align: center;
  border-bottom: 1px solid var(--primary);
}

.sidebar__add>p {
  font-size: 1.5rem;
  padding: 0.5rem;
}

form>button {
  color: black;
  background-color: var(--primary);
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

form>button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

form>input {
  font-size: 1rem;
  border: none;
  outline: 1.5px solid var(--primary);
}

.notes__container {
  border-bottom: 1px solid var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 padding: 0.5rem;
}

.sidebar__notes :hover {
  background-color: var(--hovery);
}

.notes__containerInner {
  padding: 0.5rem;
}

.notes__containerInner:hover {
  cursor: pointer;
}

.notes__button {
  max-width: 50px;
}

.notes__button > button {
  float: right;
  width: max-content;
  color: black;
  background-color: white;
  border: 1px solid var(--primary);
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.notes__button > button:hover {
  color: red;
}

.notes__title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.notes__bodydefault {
  color: var(--primary);
}

.noteview__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.noteview__form>input,
textarea {
  margin: 0.5rem;
  border: 1px solid var(--secondary);
  outline: 1.5px solid var(--primary);
} 

.noteview__heading {
  font-size: 1.3rem;
}

.noteview__input {
  padding: 2rem;
  font-size: 1rem;
}


.noteview__banner {
  padding: 2rem;
}

.noteview__banner > img {
  margin: auto;
  display: block;
  width: 50%;
  height: 50%;
  
}